@import 'tailwindcss';
@theme {
  --font-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  ----breakpoint-medium-tablet: 921px; /* Define your custom breakpoint here */
  ----breakpoint-small-tablet: 650px; /* Define your custom breakpoint here */
}

body {
  margin: 0;
  padding: 0;
}