@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  ----breakpoint-medium-tablet: 921px; /* Define your custom breakpoint here */
  ----breakpoint-small-tablet: 650px; /* Define your custom breakpoint here */
}

body {
  margin: 0;
  padding: 0;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #343839; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b; /* Color on hover */
}

/* Custom Scrollbar Styles for Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #343839 #f1f1f1; /* thumb color track color */
}

.swiper-button-next {
  color: #ff0000;
}

.swiper-button-prev {
  color: #ffffff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 30px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(204, 192, 192, 0.7);
}

.swiper-button-next.swiper-button-white::after,
.swiper-button-prev.swiper-button-white::after {
  color: #000 !important;
}

.swiper-button-next.swiper-button-black::after,
.swiper-button-prev.swiper-button-black::after {
  color: #fff !important;
}

